# ignore site output
.ackrc
.DS_Store
.idea/
_site/
Gemfile.lock
npm-debug.log

# ignore our npm devDependencies
node_modules/.bin/
node_modules/casper-chai/
node_modules/casperjs/
node_modules/chai/
node_modules/check-pages/
node_modules/gulp/
node_modules/gulp-sitemap/
node_modules/gulp-tap/
node_modules/gulp-webserver/
node_modules/kss/
node_modules/mocha/
node_modules/mocha-casperjs/
node_modules/phantomjs/

# ignore other random external npm dependencies
node_modules/abbrev/
node_modules/accepts/
node_modules/adm-zip/
node_modules/align-text/
node_modules/amdefine/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/apparatus/
node_modules/archy/
node_modules/array-differ/
node_modules/array-find-index/
node_modules/array-union/
node_modules/array-uniq/
node_modules/arrify/
node_modules/asn1/
node_modules/assert-plus/
node_modules/assertion-error/
node_modules/async/
node_modules/aws-sign2/
node_modules/aws4/
node_modules/balanced-match/
node_modules/batch/
node_modules/beeper/
node_modules/bl/
node_modules/body-parser/
node_modules/boolbase/
node_modules/boom/
node_modules/brace-expansion/
node_modules/builtin-modules/
node_modules/bytes/
node_modules/camelcase-keys/
node_modules/camelcase/
node_modules/caseless/
node_modules/center-align/
node_modules/chalk/
node_modules/charenc/
node_modules/cliui/
node_modules/clone-stats/
node_modules/clone/
node_modules/cheerio/
node_modules/code-point-at/
node_modules/combined-stream/
node_modules/commander/
node_modules/concat-map/
node_modules/config-chain/
node_modules/connect/
node_modules/connect-livereload/
node_modules/core-util-is/
node_modules/crc-hash/
node_modules/crc/
node_modules/crypt/
node_modules/cryptiles/
node_modules/css-select/
node_modules/css-what/
node_modules/ctype/
node_modules/dashdash/
node_modules/dateformat/
node_modules/debug/
node_modules/decamelize/
node_modules/deep-eql/
node_modules/defaults/
node_modules/delayed-stream/
node_modules/depd/
node_modules/deprecated/
node_modules/destroy/
node_modules/diff/
node_modules/dom-serializer/
node_modules/domelementtype/
node_modules/domhandler/
node_modules/domutils/
node_modules/duplexer/
node_modules/duplexer2/
node_modules/ecc-jsbn/
node_modules/ee-first/
node_modules/end-of-stream/
node_modules/entities/
node_modules/error-ex/
node_modules/escape-html/
node_modules/escape-string-regexp/
node_modules/etag/
node_modules/event-stream/
node_modules/extend/
node_modules/extsprintf/
node_modules/fancy-log/
node_modules/faye-websocket/
node_modules/finalhandler/
node_modules/find-index/
node_modules/find-up/
node_modules/findup-sync/
node_modules/first-chunk-stream/
node_modules/flagged-respawn/
node_modules/forever-agent/
node_modules/form-data/
node_modules/fresh/
node_modules/from/
node_modules/fs-extra/
node_modules/gaze/
node_modules/generate-function/
node_modules/generate-object-property/
node_modules/get-stdin/
node_modules/glob-stream/
node_modules/glob-watcher/
node_modules/glob/
node_modules/glob2base/
node_modules/globule/
node_modules/glogg/
node_modules/graceful-fs/
node_modules/graceful-readlink/
node_modules/growl/
node_modules/gulp-util/
node_modules/gulplog/
node_modules/har-validator/
node_modules/has-ansi/
node_modules/has-gulplog/
node_modules/hawk/
node_modules/hoek/
node_modules/hosted-git-info/
node_modules/htmlparser2/
node_modules/http-errors/
node_modules/http-signature/
node_modules/iconv-lite/
node_modules/indent-string/
node_modules/inflight/
node_modules/inherits/
node_modules/interpret/
node_modules/invert-kv/
node_modules/ini/
node_modules/is-absolute/
node_modules/is/
node_modules/is-arrayish/
node_modules/is-buffer/
node_modules/is-builtin-module/
node_modules/is-finite/
node_modules/is-fullwidth-code-point/
node_modules/is-my-json-valid/
node_modules/is-property/
node_modules/is-relative/
node_modules/is-typedarray/
node_modules/is-utf8/
node_modules/isarray/
node_modules/isexe/
node_modules/isstream/
node_modules/jade/
node_modules/jodid25519/
node_modules/jsbn/
node_modules/json-schema/
node_modules/json-stringify-safe/
node_modules/jsonfile/
node_modules/jsonpointer/
node_modules/jsprim/
node_modules/kew/
node_modules/kind-of/
node_modules/klaw/
node_modules/lazy-cache/
node_modules/lcid/
node_modules/liftoff/
node_modules/load-json-file/
node_modules/lodash._basecopy/
node_modules/lodash._baseeach/
node_modules/lodash._basefind/
node_modules/lodash._basefindindex/
node_modules/lodash._baseflatten/
node_modules/lodash._baseiteratee/
node_modules/lodash._basetostring/
node_modules/lodash._basevalues/
node_modules/lodash._escapehtmlchar/
node_modules/lodash._escapestringchar/
node_modules/lodash._getnative/
node_modules/lodash._htmlescapes/
node_modules/lodash._isiterateecall/
node_modules/lodash._isnative/
node_modules/lodash._objecttypes/
node_modules/lodash._reescape/
node_modules/lodash._reevaluate/
node_modules/lodash._reinterpolate/
node_modules/lodash._reunescapedhtml/
node_modules/lodash._root/
node_modules/lodash._shimkeys/
node_modules/lodash.assigninwith/
node_modules/lodash.defaults/
node_modules/lodash.escape/
node_modules/lodash.find/
node_modules/lodash.includes/
node_modules/lodash.isarguments/
node_modules/lodash.isarray/
node_modules/lodash.isobject/
node_modules/lodash.keys/
node_modules/lodash.keysin/
node_modules/lodash.pick/
node_modules/lodash.rest/
node_modules/lodash.restparam/
node_modules/lodash.template/
node_modules/lodash.templatesettings/
node_modules/lodash.values/
node_modules/lodash/
node_modules/longest/
node_modules/loud-rejection/
node_modules/lru-cache/
node_modules/map-obj/
node_modules/map-stream/
node_modules/marked/
node_modules/md5/
node_modules/media-typer/
node_modules/meow/
node_modules/mime/
node_modules/mime-db/
node_modules/mime-types/
node_modules/minimatch/
node_modules/minimist/
node_modules/mkdirp/
node_modules/ms/
node_modules/multimatch/
node_modules/multipipe/
node_modules/natural/
node_modules/negotiator/
node_modules/node.extend/
node_modules/node-uuid/
node_modules/nopt/
node_modules/normalize-package-data/
node_modules/npmconf/
node_modules/nth-check/
node_modules/number-is-nan/
node_modules/oauth-sign/
node_modules/object-assign/
node_modules/on-finished/
node_modules/once/
node_modules/open/
node_modules/optimist/
node_modules/orchestrator/
node_modules/ordered-read-streams/
node_modules/os-homedir/
node_modules/os-locale/
node_modules/os-tmpdir/
node_modules/osenv/
node_modules/parse-json/
node_modules/parseurl/
node_modules/path-exists/
node_modules/path-is-absolute/
node_modules/path-type/
node_modules/pause-stream/
node_modules/pify/
node_modules/pinkie-promise/
node_modules/pinkie/
node_modules/pretty-hrtime/
node_modules/process-nextick-args/
node_modules/progress/
node_modules/proto-list/
node_modules/proxy-middleware/
node_modules/qs/
node_modules/range-parser/
node_modules/raw-body/
node_modules/read-pkg-up/
node_modules/read-pkg/
node_modules/readable-stream/
node_modules/rechoir/
node_modules/redent/
node_modules/repeat-string/
node_modules/repeating/
node_modules/replace-ext/
node_modules/request-progress/
node_modules/request/
node_modules/resolve/
node_modules/right-align/
node_modules/rimraf/
node_modules/sax/
node_modules/semver/
node_modules/send/
node_modules/sequencify/
node_modules/serve-index/
node_modules/serve-static/
node_modules/sigmund/
node_modules/signal-exit/
node_modules/slash/
node_modules/sntp/
node_modules/source-map/
node_modules/sparkles/
node_modules/spdx-correct/
node_modules/spdx-exceptions/
node_modules/spdx-expression-parse/
node_modules/spdx-license-ids/
node_modules/split/
node_modules/sshpk/
node_modules/statuses/
node_modules/stream-combiner/
node_modules/stream-consume/
node_modules/string-width/
node_modules/string_decoder/
node_modules/stringstream/
node_modules/strip-ansi/
node_modules/strip-bom/
node_modules/strip-indent/
node_modules/supports-color/
node_modules/sylvester/
node_modules/throttleit/
node_modules/through/
node_modules/through2/
node_modules/tildify/
node_modules/time-stamp/
node_modules/tiny-lr/
node_modules/tough-cookie/
node_modules/trim-newlines/
node_modules/tunnel-agent/
node_modules/tweetnacl/
node_modules/type-detect/
node_modules/type-is/
node_modules/uglify-js/
node_modules/uglify-to-browserify/
node_modules/uid-number/
node_modules/underscore/
node_modules/unique-stream/
node_modules/unpipe/
node_modules/user-home/
node_modules/util-deprecate/
node_modules/utils-merge/
node_modules/v8flags/
node_modules/validate-npm-package-license/
node_modules/verror/
node_modules/vinyl-fs/
node_modules/vinyl/
node_modules/watch/
node_modules/websocket-driver/
node_modules/websocket-extensions/
node_modules/which/
node_modules/window-size/
node_modules/wordwrap/
node_modules/wrap-ansi/
node_modules/wrappy/
node_modules/wrench/
node_modules/xtend/
node_modules/y18n/
node_modules/yargs/
