---
layout: default
styles: [ '/assets/css/sitemap.css' ]
title: NuPIC Sitemap (numenta.org)
---

<h1>{{page.title}}</h1>

<div class="row">

  <div class="col-sm-6 col-md-4">
    <h5>Main</h5>
    <ul class="list-unstyled">
      {% include base/navlinks.html %}
    </ul>
  </div>

  <div class="col-sm-6 col-md-4">
    <h5><a href="{{ site.baseurl }}{{ site.data.url.blog }}">Blog</a></h5>
    <ul class="list-unstyled">
      {% for post in site.categories.blog %}
        <li>
          <i></i> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6 col-md-4">
    <h5><a href="{{ site.baseurl }}{{ site.data.url.events }}">Events</a></h5>
    <ul class="list-unstyled">
      {% for post in site.categories.events %}
        <li>
          <i></i> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6 col-md-4">
    <h5><a href="{{ site.baseurl }}{{ site.data.url.news }}">News</a></h5>
    <ul class="list-unstyled">
      {% for post in site.categories.news %}
        <li>
          <i></i> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6 col-md-4">
    <h5><a href="{{ site.baseurl }}{{ site.data.url.media }}">Media</a></h5>
    <ul class="list-unstyled">
      {% for post in site.categories.media %}
        <li>
          <i></i> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-sm-6 col-md-4">
    <h5>Other</h5>
    <ul>
      <li>
        <i></i> <a href="{{site.baseurl}}{{site.paths.pages.faq}}">FAQ</a>
      </li>
      <li>
        <i></i> <a href="{{site.baseurl}}{{site.paths.pages.sitemap}}">Sitemap</a>
      </li>
      <li>
        <i></i> <a href="">Uhh</a>
      </li>
    <ul>
  </div>

</div><!-- .row -->
