<span id="more" class="anchor"></span>
<footer>

  <!-- footer social links -->
  <section class="social">
    <div class="container">
      <ul>
        {% for social in site.data.social %}
          <li>
            <a href="{{ social.link }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-stack-2x fa-circle"></i>
                <i class="fa fa-stack-1x {{ social.icon }}"></i>
              </span>
              {{ social.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <!-- grok promote AND nav links -->
  <section class="nav">
    <div class="container">

      <!-- grok/product promote -->
      <aside>
        <img src="/assets/img/base/logo/grok-logo-lite.svg" alt="Grok Logo" />
        <p>
          <a href="{{ site.data.url.grok }}">Grok</a> is the first Numenta app
          built with NuPIC. Breakthrough science for Anomaly Detection and
          IT Analytics on Amazon Web Services (AWS).
          <a href="{{ site.data.url.grok }}#get">Download Grok</a> now for free.
        </p>
        <a href="{{ site.data.url.moreapps }}">View More NuPIC Applications <i class="fa fa-angle-right"></i></a>
      </aside>

      <!-- footer nav links -->
      <nav>
        <ul>
          {% include base/navlinks.html %}
          <li><a href="{{ site.data.url.help }}">Help</a></li>
          <li><a href="{{ site.data.url.faq }}">FAQ</a></li>
          <li><a href="{{ site.data.url.privacy }}">Privacy</a></li>
          <li><a href="{{ site.data.url.terms }}">Terms</a></li>
          <li><a href="{{ site.data.url.sitemap }}">Sitemap</a></li>
        </ul>
      </nav>

    </div>
  </section>

  <!-- legal and copyright -->
  <section class="legal">
    <div class="container">
      {% include base/brand.html %}
      <p>
        Open Source Platform and Community for Machine Intelligence.<br />
        Algorithms based on neurobiological principles of the human brain.
      </p>
      <span>Copyright © 2015 Numenta</span>
    </div>
  </section>

</footer>
