<footer>
  <section class="social">
    <div class="container">

      <!-- footer social links -->
      <ul>
        <li><a href="#"><i class="fa-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="fa-twitter"></i> Twitter</a></li>
        <li><a href="#"><i class="fa-google-plus"></i> Google+</a></li>
        <li><a href="#"><i class="fa-map-marker"></i> Meetup</a></li>
        <li><a href="#"><i class="fa-stack-overflow"></i> Overflow</a></li>
        <li><a href="#"><i class="fa-youtube"></i> YouTube</a></li>
      </ul>

    </div>
  </section>
  <section class="nav">
    <div class="container">

      <!-- grok/product promote -->
      <aside>
        <img src="/assets/img/base/logo/grok-logo-lite.svg" alt="Grok Logo" />
        <p>
          <a href="#">Grok</a> is the first Numenta app built with NuPIC.
          Breakthrough science for Anomaly Detection and IT Analytics on Amazon
          Web Services (AWS). <a href="#">Download Grok</a> now for free.
        </p>
        <a href="#">View More NuPIC Applications</a> &gt;
      </aside>

      <!-- footer nav links -->
      <nav>
        <ul>
          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="#"><i class="fa fa-sign-in"></i> Start</a></li>
          <li><a href="#"><i class="fa fa-file-text-o"></i> Docs</a></li>
          <li><a href="#"><i class="fa fa-lightbulb-o"></i> Theory</a></li>
          <li><a href="#"><i class="fa fa-users"></i> Community</a></li>
          <li><a href="#"><i class="fa fa-flag"></i> Latest</a></li>

          <li><a href="#">Help</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </nav>

    </div>
  </section>
  <section class="legal">
    <div class="container">

      <a href="#">
        <strong>NuPIC</strong>
        Numenta Platform for Intelligent Computing
      </a>
      <p>
        Open Source Platform and Community for Machine Intelligence.
        <br />
        Algorithms based on neurobiological principles of the human brain.
      </p>
      <span>Copyright © 2015 Numenta</span>

    </div>
  </section>
</footer>
