<nav>
    <ul>
        <br/>
        <li><a href="{{ site.baseurl }}/cla.html">Cortical Learning Algorithm</a></li>
        <li><a href="{{ site.baseurl }}/nupic.html">About NuPIC</a></li>
        <li><a href="https://github.com/numenta/nupic/wiki/">NuPIC Wiki</a></li>
        <li><a href="{{ site.baseurl }}/community.html">Community</a></li>
        <li><a href="{{ site.baseurl }}/events.html">Events</a></li>

        <br/>

        <li><a href="{{ site.baseurl }}/news/">News</a><span>(<a href="{{ site.baseurl }}/news/archive.html">archive</a> <a href="{{ site.baseurl }}/feed.xml"><img src="{{ site.baseurl }}/images/rss.png" class="rss" alt="rss"/></a>)</span></li>
        <li><a href="{{ site.baseurl }}/blog/">Blog</a><span>(<a href="{{ site.baseurl }}/blog/archive.html">archive</a> <a href="{{ site.baseurl }}/blog.xml"><img src="{{ site.baseurl }}/images/rss.png" class="rss" alt="rss"/></a>)</span></li>
        <!-- <li><a href="{{ site.baseurl }}/bmi/">Biological & Machine Intelligence</a></li> -->

        <br/>

        <li><a href="{{ site.baseurl }}/son">Season of NuPIC</a></li>
        <li><a href="{{ site.baseurl }}/bug-report.html">Report a Bug</a></li>

        <br/>
        
        <li><a href="{{ site.baseurl }}/media.html">Media</a></li>
        <li><a href="{{ site.baseurl }}/licenses/">Licenses</a></li>
        <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>

    </ul>
</nav>

<p>For more information on <a href="http://www.numenta.com/">Numenta, Inc.</a> or <a href="http://www.numenta.com/grok/">Grok for IT Analytics</a>, please visit our website or follow us on <a href="https://www.facebook.com/pages/Numenta/321559142118?fref=nf">Facebook</a> or <a href="https://twitter.com/numenta">Twitter</a>.</p>