/**
 * Homepage
 */

@import 'base/variables';


/**
 * Section: Hero
 */
.hero {
  padding-bottom: 6rem;

  // logo
  img {
    height: 100px;
    width:  110px;

    @media (max-width: $screen-md) {
      margin-top: 1.5rem;
    }
  }

  ul {
    line-height: 1.43;
    margin-top: 2rem;
    text-align: center;
    width: 100%;

    li {
      text-align: center;
      vertical-align: top;
      width: 15%;

      @media (max-width: $screen-md) {
        margin-bottom: 4rem;
        width: 32%;
      }
      @media (max-width: $screen-sm) {
        width: 49%;
      }

      i {
        color: $color-blue;
        margin-bottom: 1.5rem;
      }

      span {
        display: block;
        font-size: 95%;
      }
    }
  }
}

/**
 * Section: Start
 */
.hero {
}

/**
 * Section: Docs
 */
.docs {
}

/**
 * Section: Theory
 */
.theory {
}

/**
 * Section: Community
 */
.community {
}

/**
 * Section: Latest
 */
.latest {
}

