/**
 * Custom SASS Variables for site
 */


/**
 * Colors
 */

$color-blue:    #29aae2;
$color-bluer:   #09C;
$color-purple:  #838;

// grayscale: white to black
$color-white:     #fff;
$color-brite:     #f6f6f6;
$color-lite:      #eee;
$color-gray-lite: #bbb;
$color-gray:      #888;
$color-gray-dark: #555;
$color-dark:      #222;
$color-black:     #000;
