{% comment %}
  Homepage.Latest section list item: Blog, News, Events, etc.
  @param {String} [post] - Post item to display, usually expected to be in the
    context wrapped around this, but can be passed in manually.
  @param {String} link - Clicking on title will take you to this link target.
  @param {String} title - Title of section link i.e "Blog" or "News".
  @see _includes/base/listitem.html, _layouts/item.html
{% endcomment %}

<div class="row">
  <div class="col-xs-6">
    <h3>
      <a href="{{ site.baseurl }}{{ include.link }}">{{ include.title }}</a>
    </h3>
  </div>
  <div class="col-xs-6 text-right">
    {% include base/share.html link=post.url feed=include.title %}
  </div>
</div>
<article>
  <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }} Image" class="img-responsive" />
  <strong>
    <a class="title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </strong>
  <div class="meta">
    <time datetime="{{ post.date | date_to_xmlschema }}">
      {{ post.date | date_to_string }}
    </time>
    <em>by</em> {{ post.author }}, {{ post.org }}
  </div>
  <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
  <a href="{{ site.baseurl }}{{ post.url }}">
    Read Full Article <i class="fa fa-fw fa-angle-right"></i>
  </a>
</article>
