{% comment %}
  List Post Item: Blog, News, Events, etc.
  @param {String} [post] - Post item to display, usually expected to be in the
    context wrapped around this, but can be passed in manually.
  @see _includes/base/lateitem.html, _layouts/item.html
{% endcomment %}

<div class="row">
  <div class="col-sm-8 article">
    <article>
      <h5>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date_to_string }}
        </time>
      </h5>
      <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
      <div class="meta">
        <em>by</em> {{ post.author }}, {{ post.org }}
      </div>
      <p>{{ post.excerpt | strip_html | truncatewords: 40 }}</p>
      {% include base/share.html link=post.url feed=post.category %}
      <a href="{{ site.baseurl }}{{ post.url }}">
        Read Full Article <i class="fa fa-fw fa-angle-right"></i>
      </a>
    </article>
  </div>
  <div class="col-sm-4 image text-center">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <img src="{{ site.baseurl }}{{ post.image }}" alt="Image for {{ post.title }}" class="img-responsive" />
    </a>
  </div>
</div>
