<span id="community" class="anchor"></span>
<div class="arrow-down"></div>
<section class="community">
  <div class="container">

    <h2>Community</h2>

    <div class="row">
      <div class="col-sm-8">
        {% include base/markdown.html file='community.intro.md' %}
      </div>
      <div class="col-sm-4 text-center icon">
        <i class="fa fa-5x fa-users"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-4">
        {% include base/markdown.html file='community.contact.md' %}
      </div>
      <div class="col-sm-6 col-lg-4">
        {% include base/markdown.html file='community.about.md' %}
      </div>
      <div class="col-sm-6 col-lg-4">
        {% include base/markdown.html file='community.contrib.md' %}
      </div>
    </div><!-- row -->

  </div>
</section>
