<span id="community" class="anchor"></span>
<div class="arrow-down"></div>
<section>
  <div class="container">

    <h2>Community</h2>
    <p>Coma est...</p>

    <p id="text50">
    Community
    </p>
    <div id="box13" class="clearfix">
        <p id="text51">
        NuPIC is an open and talented <span id="textspan80">Community</span> pushing together towards a new era of Machine Intelligence. Everyone is welcome to pitch in and <span id="textspan81">contribute</span>&#x21;
        </p>
        <p id="text52">
        <br />
        </p>
    </div>
    <div id="about_wrap" class="clearfix">
        <p id="text53">
        ABOUT
        </p>
        <p id="text54">
        ● &nbsp;NuPIC Community <span id="textspan82">Mission</span>.<br />● &nbsp;Meet the <span id="textspan83">Team</span>.<br />● &nbsp;<span id="textspan84">Committers</span> and <span id="textspan85">Contributors</span> Lists.<br />● &nbsp;NuPIC <span id="textspan86">Wiki</span>.
        </p>
    </div>
    <div id="contrib_wrap" class="clearfix">
        <p id="text55">
        CONTRIBUTE<br />
        </p>
        <p id="text56">
        ● &nbsp;How to <span id="textspan87">Get Involved</span>.<br />● &nbsp;<span id="textspan88">NuPIC Repositories</span> and <span id="textspan89">Issue Trackers</span>.<br />● &nbsp;<span id="textspan90">Project Roadmap</span>.<br />● &nbsp;<span id="textspan91">Community Content</span>&nbsp;from our team.<br />● &nbsp;<span id="textspan92">Licenses</span>.<br />● &nbsp;<span id="textspan93">Codes of Conduct</span>.
        </p>
    </div>
    <div id="contact_wrap" class="clearfix">
        <p id="text57">
        CONTACT
        </p>
        <p id="text58">
        ● &nbsp;<span id="textspan94">Mailing Lists</span>.<br />● &nbsp;Chat&#x3a; <span id="textspan95">Gitter</span> and <span id="textspan96">IRC</span>.<br />● &nbsp;<span id="textspan97">Social Networks</span>.<br />●&nbsp;&nbsp;<span id="textspan98">Help</span> and <span id="textspan99">FAQ</span>.
        </p>
    </div>
    <p id="text59">
    <span id="textspan100">See All Community</span>&nbsp;<span id="textspan101">▸</span>
    </p>

  </div>
</section>
