<span id="docs" class="anchor"></span>
<div class="arrow-down"></div>
<section class="docs">
  <div class="container">

    <h2>Docs</h2>
    <p>Coma est...</p>

    <p id="text33">
    Docs
    </p>
    <p id="text34">
    Learn how to use NuPIC by visiting our <span id="textspan41">documentation</span>. From <span id="textspan42">beginner instructions</span> to advanced expert <span id="textspan43">API reference</span>, we hope to help you build intelligent applications.<br />
    </p>
    <p id="text35">
    <span id="textspan44"></span><br />
    </p>
    <div id="box7" class="clearfix">
        <p id="text36">
        BEGINNER<br />
        </p>
        <p id="text37">
        ● &nbsp;<span id="textspan45">Get Started</span> - Prepare, install, and run.<br />●&nbsp; <span id="textspan46">Build</span> from Source - Download, build,&nbsp;run,&nbsp;and test.<br />● &nbsp;<span id="textspan47">Examples</span> and <span id="textspan48">Tutorials</span>.<br />● &nbsp;<span id="textspan49">Help</span> and <span id="textspan50">FAQ</span>.<br />
        </p>
    </div>
    <div id="box8" class="clearfix">
        <p id="text38">
        ADVANCED<br />
        </p>
        <p id="text39">
        ● &nbsp;<span id="textspan51">Guides and Manuals</span>.<br />● &nbsp;<span id="textspan52">API Reference</span>.<br />● &nbsp;NuPIC <span id="textspan53">Wiki</span>.<br />● &nbsp;Learn about <span id="textspan54">Hierarchical Temporal&nbsp;Memory</span>&nbsp;the&nbsp;<span id="textspan55">theory</span> <br />&nbsp; &nbsp; &nbsp;behind NuPIC.<br />
        </p>
    </div>
    <p id="text40">
    <span id="textspan56">See All Documentation</span>&nbsp;<span id="textspan57">▸</span>
    </p>

  </div>
</section>
