<span id="docs" class="anchor"></span>
<div class="arrow-down"></div>
<section class="docs">
  <div class="container">

    <h2>Docs</h2>

    <div class="row">
      <div class="col-sm-8">
        {% include base/markdown.html file='docs.intro.md' %}
      </div>
      <div class="col-sm-4 text-center icon">
        <i class="fa fa-5x fa-file-text-o"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        {% include base/markdown.html file='docs.beginner.md' %}
      </div>
      <div class="col-sm-6">
        {% include base/markdown.html file='docs.advanced.md' %}
      </div>
    </div>

  </div>
</section>
