<span id="latest" class="anchor"></span>
<div class="arrow-down"></div>
<section class="latest">
  <div class="container">

    <h2>Latest</h2>
    <p>
      Stay up-to-date with the latest on the NuPIC project and community. Read
      our <a href="">blog</a>, browse recent <a href="">news</a>, learn about
      our <a href="">events</a>, and see what the <a href="">media</a> is
      saying.
    </p>

    <div>

      <div>
        <h3><a href="">Blog</a></h3>
        <span>Social</span>
        <img src="" alt="" />
        <a href="">NuPIC Community Planning Update Feb 2015</a>
        <span>
          <date>Mon Feb 20 2015</date> <em>by</em> Matthew Taylor
        </span>
        <p>
          Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri
          graece alterum persecuti. Iisque dissentiet eu sed...
        </p>
        <div>
          <a href="">Read Full Article</a> ▸
        </div>
      </div>

      <div>
        <h3><a href="">News</a></h3>
        <span>Social</span>
        <img src="" alt="" />
        <a href="">NuPIC 0.2 Released Today</a>
        <span>
          <date>Mon Feb 20 2015</date> <em>by</em> Matthew Taylor
        </span>
        <p>
          Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri
          graece alterum persecuti. Iisque dissentiet eu sed...
        </p>
        <div>
          <a href="">Read Full Article</a> ▸
        </div>
      </div>

      <div>
        <h3><a href="">Events</a></h3>
        <span>Social</span>
        <img src="" alt="" />
        <a href="">NuPIC Spring 2015 Hackathon NYC</a>
        <span>
          <date>Mon Feb 20 2015</date> <em>by</em> Matthew Taylor
        </span>
        <p>
          Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri
          graece alterum persecuti. Iisque dissentiet eu sed...
        </p>
      </div>

      <div>
        <h3><a href="">Media</a></h3>
        <span>Social</span>
        <img src="" alt="" />
        <a href="">Machine Learning in the Open Source World</a>
        <span>
          <date>Mon Feb 20 2015</date> <em>by</em> Matthew Taylor
        </span>
        <p>
          Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri
          graece alterum persecuti. Iisque dissentiet eu sed...
        </p>
      </div>

    </div>

  </div>
</section>
