<span id="latest" class="anchor"></span>
<div class="arrow-down"></div>
<section class="latest">
  <div class="container">

    <h2>Latest</h2>
    <p>Coma est...</p>

    <p id="text62">
    Latest
    </p>
    <div id="box14" class="clearfix">
        <p id="text63">
        Stay up-to-date with the latest on the NuPIC project and community.&nbsp;Read our <span id="textspan102">blog</span>, browse recent <span id="textspan103">news</span>, learn about our <span id="textspan104">events</span>, and see what the <span id="textspan105">media</span> is saying.
        </p>
        <p id="text64">
        <br />
        </p>
    </div>
    <div id="Blog_Wrapper" class="clearfix">
        <div id="Blog_Box" class="clearfix">
            <div id="box15" class="clearfix">
                <p id="text65">
                Blog
                </p>
                <img id="image3" src="img/social-44px-white.png" class="image" />
            </div>
            <div id="Blog_Photo" class="clearfix">
                <div id="palette" class="clearfix">
                    <div id="box16" class="clearfix">
                    </div>
                    <div id="box17" class="clearfix">
                    </div>
                    <div id="box18" class="clearfix">
                    </div>
                    <div id="box19" class="clearfix">
                    </div>
                    <div id="box20" class="clearfix">
                    </div>
                    <div id="box21" class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="News_Wrapper" class="clearfix">
        <div id="News_Box" class="clearfix">
            <div id="box22" class="clearfix">
                <p id="text66">
                News
                </p>
                <img id="image4" src="img/social-44px-white.png" class="image" />
            </div>
            <div id="News_Image" class="clearfix">
                <div id="palette1" class="clearfix">
                    <div id="box23" class="clearfix">
                    </div>
                    <div id="box24" class="clearfix">
                    </div>
                    <div id="box25" class="clearfix">
                    </div>
                    <div id="box26" class="clearfix">
                    </div>
                    <div id="box27" class="clearfix">
                    </div>
                    <div id="box28" class="clearfix">
                    </div>
                </div>
            </div>
            <div id="box29" class="clearfix">
                <p id="text67">
                NuPIC Community Planning Update Feb 2015
                </p>
                <p id="text68">
                Mon Feb 20 2015 <span id="textspan106">by</span> Matthew Taylor
                </p>
                <p id="text69">
                Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri graece alterum persecuti. Iisque dissentiet eu sed...<br />
                </p>
                <p id="text70">
                <span id="textspan107">Read Full Article</span>&nbsp;<span id="textspan108">▸</span>
                </p>
            </div>
            <div id="box30" class="clearfix">
                <p id="text71">
                NuPIC 0.2 Released Today
                </p>
                <p id="text72">
                Mon Feb 20 2015 <span id="textspan109">by</span> Matthew Taylor
                </p>
                <p id="text73">
                Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri graece alterum persecuti. Iisque dissentiet eu sed...<br />
                </p>
                <p id="text74">
                <span id="textspan110">Read Full Article</span>&nbsp;<span id="textspan111">▸</span>
                </p>
            </div>
        </div>
    </div>
    <div id="Events_Wrapper" class="clearfix">
        <div id="Events_Box" class="clearfix">
            <div id="box31" class="clearfix">
                <p id="text75">
                Events
                </p>
                <img id="image5" src="img/social-44px-white.png" class="image" />
            </div>
            <div id="Events_Image" class="clearfix">
                <div id="palette2" class="clearfix">
                    <div id="box32" class="clearfix">
                    </div>
                    <div id="box33" class="clearfix">
                    </div>
                    <div id="box34" class="clearfix">
                    </div>
                    <div id="box35" class="clearfix">
                    </div>
                    <div id="box36" class="clearfix">
                    </div>
                    <div id="box37" class="clearfix">
                    </div>
                </div>
            </div>
            <div id="box38" class="clearfix">
                <p id="text76">
                NuPIC Spring 2015 Hackathon NYC
                </p>
                <p id="text77">
                Mon Feb 20 2015 <span id="textspan112">by</span> Matthew Taylor
                </p>
                <p id="text78">
                Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri graece alterum persecuti. Iisque dissentiet eu sed...<br />
                </p>
                <p id="text79">
                <span id="textspan113">Read Full Article</span>&nbsp;<span id="textspan114">▸</span>
                </p>
            </div>
        </div>
    </div>
    <div id="Press_Wrapper" class="clearfix">
        <div id="Press_Box" class="clearfix">
            <div id="box39" class="clearfix">
                <p id="text80">
                Media
                </p>
                <img id="image6" src="img/social-44px-white.png" class="image" />
            </div>
            <div id="Press_Image" class="clearfix">
                <div id="palette3" class="clearfix">
                    <div id="box40" class="clearfix">
                    </div>
                    <div id="box41" class="clearfix">
                    </div>
                    <div id="box42" class="clearfix">
                    </div>
                    <div id="box43" class="clearfix">
                    </div>
                    <div id="box44" class="clearfix">
                    </div>
                    <div id="box45" class="clearfix">
                    </div>
                </div>
            </div>
            <div id="box46" class="clearfix">
                <p id="text81">
                Machine Learning in the Open Source World
                </p>
                <p id="text82">
                Mon Feb 20 2015 <span id="textspan115">by</span> Matthew Taylor
                </p>
                <p id="text83">
                Lorem ipsum dolor sit amet, eos discere accumsan efficiendi an, an pri graece alterum persecuti. Iisque dissentiet eu sed...<br />
                </p>
                <p id="text84">
                <span id="textspan116">Read Full Article</span>&nbsp;<span id="textspan117">▸</span>
                </p>
            </div>
        </div>
    </div>

  </div>
</section>
