<span id="start" class="anchor"></span>
<div class="arrow-down"></div>
<section>
  <div class="container">

    <h2>Start</h2>
    <p>Coma est...</p>

    <p id="text19">
    Start
    </p>
    <div id="box2" class="clearfix">
        <div id="Wrapper" class="clearfix">
            <p id="text20">
            Get started with NuPIC. Here we&#x27;ll help you download, install, and run for the first time.&nbsp;<br />
            </p>
        </div>
        <p id="text21">
        <br />
        </p>
    </div>
    <div id="box3" class="clearfix">
        <div id="Download_Wrapper" class="clearfix">
            <p id="text22">
            DOWNLOAD
            </p>
            <div id="Button_DOWNLOAD" class="clearfix">
                <p id="text23">
                <span id="textspan18"></span>&nbsp; Download NuPIC
                </p>
                <p id="text24">
                Version 0.2.1 &nbsp;&middot; &nbsp;Mac OS X
                </p>
            </div>
            <p id="text25">
            <span id="textspan19">More platforms and versions in</span><span id="textspan20"> </span><span id="textspan21">Downloads</span>.<br /><br />
            </p>
            <div id="box4" class="clearfix">
            </div>
        </div>
        <div id="Quickstart_Wrapper" class="clearfix">
            <p id="text26">
            QUICKSTART
            </p>
            <div id="box5" class="clearfix">
                <p id="text27">
                <span id="textspan22">&#x24;</span> <span id="textspan23">pip install nupic<br /></span><span id="textspan24">&#x24;</span> <span id="textspan25">python</span><br /><span id="textspan26">&gt;&gt;&gt;</span>&nbsp;<span id="textspan27">from nupic import engine, algorithms</span><br /><span id="textspan28">&gt;&gt;&gt;</span> <span id="textspan29">&#x23; success&#x21;</span>
                </p>
            </div>
            <p id="text28">
            Next, <span id="textspan30">learn the basics</span> of NuPIC, <span id="textspan31">explore the documentation</span>, or try running some <span id="textspan32">examples</span>.
            </p>
        </div>
        <div id="DEPS_Wrapper" class="clearfix">
            <p id="text29">
            <span id="textspan33">Dependencies</span><br />
            </p>
            <p id="text30">
            ●&nbsp;&nbsp;<span id="textspan34">C&#x2b;&#x2b;</span> and&nbsp;<span id="textspan35">Python 2.7</span>&nbsp;with dev headers.<br />● &nbsp;<span id="textspan36">pip</span>&nbsp;package manager.<br />● &nbsp;<span id="textspan37">wheel</span> package format.<br /><br />
            </p>
        </div>
        <div id="box6" class="clearfix">
            <img id="image1" src="img/gh-fork.png" class="image" />
            <img id="image2" src="img/gh-star.png" class="image" />
        </div>
        <p id="text31">
        See the <span id="textspan38">documentation</span> below for help building NuPIC <span id="textspan39">from source</span>. Other language <span id="textspan40">ports</span> available.
        </p>
    </div>

  </div>
</section>
