<span id="theory" class="anchor"></span>
<div class="arrow-down"></div>
<section>
  <div class="container">

    <h2>Theory</h2>
    <p>Coma est...</p>

    <p id="text41">
    Theory
    </p>
    <div id="box9" class="clearfix">
        <p id="text42">
        NuPIC is an <span id="textspan58">Hierarchical Temporal Memory &#x28;HTM&#x29;</span>, a set of algorithms which model the functionality of the <span id="textspan59">neocortex</span> in the <span id="textspan60">human brain</span>. Learn more about <span id="textspan61">HTM Theory</span>, the key unlocking Intelligent Applications and Machines.
        </p>
        <p id="text43">
        <br />
        </p>
    </div>
    <div id="box10" class="clearfix">
        <div id="box11" class="clearfix">
            <p id="text44">
            NEUROSCIENCE AND COMPUTING<br />
            </p>
            <p id="text45">
            ● &nbsp;<span id="textspan62">Brain Basics</span>&nbsp;- A quick evolutionary history.<br />● &nbsp;All about the <span id="textspan63">Neocortex</span>&nbsp;and the <span id="textspan64">Neuron</span>.<br />● &nbsp;<span id="textspan65">Hierarchical Temporal Memory &#x28;HTM&#x29;</span>.<br />● &nbsp;<span id="textspan66">Sparse Distributed Representations &#x28;SDRs&#x29;</span>&nbsp;- the&nbsp;brain&#x27;s data structure.<br />● &nbsp;<span id="textspan67">Numenta Learning Center</span><span id="textspan68"> video talks.</span><br />
            </p>
        </div>
        <div id="box12" class="clearfix">
            <p id="text46">
            LEARN MORE<br />
            </p>
            <p id="text47">
            ● &nbsp;<span id="textspan69"></span>&nbsp;&nbsp;<span id="textspan70">HTM Whitepaper</span>.<br />● &nbsp;<span id="textspan71">Theory Mailing List</span>&nbsp;and <span id="textspan72">Community</span> discussion.<br />● &nbsp;NuPIC <span id="textspan73">Wiki</span>.<br />● &nbsp;<span id="textspan74">Project Roadmap</span>.<br />● &nbsp;<span id="textspan75">Licenses</span>.<br />● &nbsp;<span id="textspan76">Help</span> and <span id="textspan77">FAQ</span>.
            </p>
        </div>
    </div>
    <p id="text48">
    <span id="textspan78">See All Theory</span>&nbsp;<span id="textspan79">▸</span><br />
    </p>

  </div>
</section>
