<span id="theory" class="anchor"></span>
<div class="arrow-down"></div>
<section class="theory">
  <div class="container">

    <h2>Theory</h2>

    <div class="row">
      <div class="col-sm-8">
        {% include base/markdown.html file='theory.intro.md' %}
      </div>
      <div class="col-sm-4 text-center icon">
        <i class="fa fa-5x fa-lightbulb-o"></i>
      </div>
    </div>

    <!--
      for now:  sync w/ numenta.com learning center
      future:   sync w/ htmtheory.org
    -->
    <div class="row">
      <div class="col-sm-6">
        {% include base/markdown.html file='theory.neuro.md' %}
      </div>
      <div class="col-sm-6">
        {% include base/markdown.html file='theory.learn.md' %}
      </div>
    </div>

  </div>
</section>
