/**
 * Main Content
 *
 * This is the main content of the webpage, sandwiched between Header and
 *  Footer, wrapping a main article and other asides and secondary sections.
 *
 * Markup:
 *  <main>
 *    <section>This is a bare main content section</section>
 *    <div class="arrow-down"></div>
 *  </main>
 *
 * Styleguide: 1.2
 */
main {
  > section {
    @include gradient-vertical($color-white, $color-lite, 80%, 100%);
    padding-bottom: 8rem;
    padding-top: 5rem;

    /* pull hero sections back up a bit */
    &:first-child {
      padding-top: 2rem;

      h1 {
        padding-top: 0;
      }
    }

    @media (max-width: $screen-sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  } // section

  /* subtle down arrows between sections */
  > .arrow-down {
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
    border-top: 45px solid $color-lite;
    height: 0;
    margin: 0 auto -45px auto;
    position: relative;
    width: 0;
  } // .arrow-down
}
