/**
 * Content
 *
 * This is the main content of the webpage, sandwiched between Header and
 *  Footer, wrapping a `<main>` article which contains `<section>`s.
 *  Each `<section>` has a white or lighter background color to ensure a global
 *  default-like user experience. The bottom of each `<section>` has a small
 *  color-gradient transition with a CSS-down arrow to keep the eye moving
 *  down the page to the next section.
 *
 * Markup:
 *  <main>
 *    <section>
 *      This is a bare main content section
 *    </section>
 *    <div class="arrow-down"></div>
 *  </main>
 *
 * Styleguide: 1.2
 */
main {
  > section {
    @include gradient-vertical($color-white, $color-lite, 75%, 100%);
    padding-bottom: 8rem;
    padding-top: 5rem;

    /* pull hero sections back up a bit */
    &:first-child {
      padding-top: 1.5rem;

      h1 {
        padding-top: 0;
      }
    }

    @media (max-width: $screen-sm) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .icon {
      color: lighten($color-blue-dark, $color-shift);
      font-size: 133%;

      @media (min-width: $screen-md) {
        margin-left: -2.5rem;
        margin-top: -1.75rem;
      }
      @media (max-width: $screen-sm) {
        margin-bottom: 2.5rem;
        margin-top: 3rem;
      }
    }

    .row {
      > div { // .col-*
        margin-bottom: 1.5rem;

        @media (max-width: $screen-sm) {
          margin-bottom: 3.5rem;
        }
      }
    }
  } // section

  /* subtle down arrows between sections */
  > .arrow-down {
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
    border-top: 45px solid $color-lite;
    height: 0;
    margin: 0 auto -45px auto;
    position: relative;
    width: 0;
  } // .arrow-down
}
