/**
 * Footer
 *
 * The footer restates everything in the Header, but in a simple and condensed
 *  manner. It is mostly for navigation after the user is finished reading
 *  the document. It also contains legalese and copyright information.
 *
 * Markup:
 *  <footer>This is a bare Footer</footer>
 *
 * Styleguide: 1.3
 */
footer {
  background-color: $color-dark;
  color: $color-gray;

  /**
   * Social Media sharing icons
   */
  > .social {
    background-color: $color-blue-dark;
    padding-bottom: 2rem;
    padding-top: 3.5rem;

    ul {
      text-align: center;

      > li {
        padding-left: 2rem;
        padding-right: 2rem;

        @media (max-width: $screen-lg) {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
        @media (max-width: $screen-sm) {
          font-size: 90%;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
        @media (max-width: $screen-xs) {
          font-size: 70%;
          padding-left: 0;
          padding-right: 0;
        }

        a, a:link {
          &:hover {
            text-decoration: none;
          }
        }

        .fa-stack-1x {
          color: $color-white;
        }

        span {
          display: block;
          clear: both;
          font-size: 85%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  } // .social

  /**
   * Footer Nav and Grok Promo
   */
  > .nav {
    @include gradient-vertical($color-gray-lite, darken($color-gray-lite, $color-shift), 75%, 100%);
    padding-bottom: 5rem;
    padding-top: 5rem;

    @media (max-width: $screen-sm) {
      padding-bottom: 0;
      padding-top: 0;
    }

    /**
     * Grok promo
     */
    aside {
      @include gradient-vertical($color-white, $color-lite, 75%, 100%);
      font-size: 90%;
      font-weight: $font-weight-normal;
      padding: 3.5rem;

      @media (min-width: $screen-sm) {
        margin-top: 1.5rem;
      }

      img {
        height: 30px;
        margin-bottom: 2rem;
      }

      p {
        color: $color-gray-dark;
        margin-bottom: 2.5rem;
      }
    } // grok promo

    /**
     * Footer Navigation links
     */
    nav {
      @media (max-width: $screen-sm) {
        padding: 4rem;
      }

      h6 {
        color: $color-gray-dark;
        margin-bottom: 2rem;
      }

      li {
        font-size: 95%;
        margin-bottom: 1rem;
      }
    } // nav
  } // footer .nav (and grok promo)

  /**
   * Footer Legal notices at bottom
   */
  > .legal {
    background-color: $color-dark;
    color: $color-gray-dark;
    font-size: 77.5%;
    padding-bottom: 4.5rem;
    padding-top: 3.5rem;

    @media (max-width: $screen-sm) {
      padding-left: 1rem;
      padding-right: 2rem;
    }

    .navbar-brand {
      background-image: url('#{$baseurl}/assets/img/base/logo/numenta-mark-lite.svg');
      background-position: left 52%;
      background-repeat: no-repeat;
      background-size: 29px 27px;
      color: $color-white;
      font-size: 102.5%;
      height: auto;
      line-height: 1.25;
      margin-bottom: 1.25rem;
      padding: 0 0 0 3.75rem;

      strong {
        display: block;
        font-size: 105%;
      }
    }

    p {
      clear: both;
      color: $color-gray;
      display: block;
      font-size: 100%;
      line-height: 1.44;
      max-width: 38rem;
    }

    > .container > div {
      margin-bottom: 1rem;
    }
  } // .legal

  /**
   * Little "Back To Top" helper fixed on bottom-right of window
   */
  #back-to-top {
    bottom: 3rem;
    display: block;
    opacity: 0.9;
    position: fixed;
    right: 3rem;

    @media (max-width: $screen-sm) {
      bottom: 1rem;
      right: 1rem;
    }

    &:active, &:link, &:visited {
      @include box-shadow(0 2px 3px 0 $color-gray-dark);
      background-color: $color-blue-orig;
      border-radius: 1rem;
      color: $color-white;
      padding: 1.25rem 1.75rem;
    }

    &:hover {
      background-color: lighten($color-blue, $color-shift);
      color: $color-lite;
    }
  }
} // footer
