<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="TBD" />
    <meta name="keywords" content="nupic numenta open platform community machine intelligence htm hierarchical temporal memory" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="google-site-verification" content="OfJ5zPSx53VfF9A0uweP4yhNQsUuXCZ7ZAkdLVIEks0" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="TBD" />
    <link rel="canonical" href="TBD" />
    <link rel="alternate" type="application/rss+xml" title="NuPIC Blog Feed" href="TBD" />
    <link rel="alternate" type="application/rss+xml" title="NuPIC News Feed" href="TBD" />
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css?v=TBD" />
  </head>
  <body class="numenta" data-spy="scroll" data-target=".scrollspy-nav">
    {% include header.new.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.new.html %}
    <script src="/node_modules/jquery/dist/jquery.min.js?v=TBD"></script>
    <script src="/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js?v=TBD"></script>
    <script src="/assets/js/base.js?v=TBD"></script>
    {% include footer.analytics.html %}
    <!-- http://numenta.org v{{ TBD }} Copyright © {{ TBD }} -->
  </body>
</html>
