<!doctype html>
<html lang="TBD">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="TBD" />
    <meta name="keywords" content="TBD" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="google-site-verification" content="OfJ5zPSx53VfF9A0uweP4yhNQsUuXCZ7ZAkdLVIEks0" />
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="TBD" />
    <link rel="canonical" href="TBD" />
    <link rel="alternate" type="application/rss+xml" title="NuPIC Blog Feed" href="TBD" />
    <link rel="alternate" type="application/rss+xml" title="NuPIC News Feed" href="TBD" />
    <!-- css here TBD -->
  </head>
  <body>
    {% include header.new.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.new.html %}
    <!-- js here TBD -->
    {% include analytics.google.html %}
    <!-- http://numenta.org v{{ TBD }} Copyright © {{ TBD }} -->
  </body>
</html>
