---
# Post Item: Blog, News, Events, etc.
# @see _includes/base/lateitem.html, _includes/base/listitem.html
layout: default
styles:
  - "/assets/css/item.css"
---
<div class="row">
  <div class="col-md-8">

    <article{% if page.category %} class="post"{% endif %}>
      <h5>
        <time datetime="{{ page.date | date_to_xmlschema }}">
          {{ page.date | date_to_string }}
        </time> | {{ page.category }}
      </h5>
      <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
      <div class="meta">
        <em>by</em> {{ page.author }}, {{ page.org }}
      </div>
      <p>{{ content }}</p>
      {% include base/share.html link=page.url feed=page.category %}
      <a href="{{ site.baseurl }}{{ site.data.url[page.category] }}">
        <i class="fa fa-fw fa-angle-left"></i>
        Back to {{ page.category | capitalize }}
      </a>
    </article>

  </div>
  <div class="col-md-4 recent">

    <div class="well well-lg">
      <h6>Recent {{ page.category | capitalize }}</h6>
      <ul>
        {% for post in site.categories[page.category] limit:10 %}
          <li>
            <i></i>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <small class="text-muted">
              ({{ post.date | date: "%Y-%m-%d" }})
            </small>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
