---
layout: default
title: Events
---

<h1>{{ page.title }}</h1>

<h3>Calendar</h3>
<iframe src="http://www.google.com/calendar/embed?src=numenta.org_3sh59v9sabutnpb8f87icnk774%40group.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="700" height="600" frameborder="0" scrolling="no"></iframe>

<h3>Recurring</h3>
{% include base/markdown.html file='events.recur.md' %}

<h3>Upcoming</h3>
<hr/>
{% for post in site.categories.events %}
  <div>
    {% include base/item.html %}
  </div>
  <hr/>
{% endfor %}

<a href="{{ site.data.url.index }}">
  <i class="fa fa-fw fa-angle-left"></i> Back to Home
</a>
